/* layout.module.css */
.content {
    position: relative;
    padding-top: 80px;
    padding-bottom: 120px;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #39374838;
    z-index: 10;
}

.layoutContainer{
    width: 100%;
    height: auto;
    padding: 0;
}